{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ object.username }}
  </h1>

  <p><strong>First name:</strong> {{ object.first_name }}</p>
  <p><strong>Last name:</strong> {{ object.last_name }}</p>
  <p><strong>License number:</strong> {{ object.license_number }}</p>
  <p><strong>Is staff:</strong> {{ object.is_staff }}</p>

  <div class="ml-3">
    <h4>Cars</h4>

    {% for car in object.cars.all %}
        <hr>
        <p><strong>Model:</strong> {{ car.model }}</p>
        <p><strong>Manufacturer:</strong> {{ car.manufacturer.name }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ car.id }}</p>

    {% empty %}
      <p>No cars!</p>
    {% endfor %}
  </div>
{% endblock %}
